/* --- STYLES FOR ALL PAGES --- */
body {
    /* Typography */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
    /* Visual */
    background-image: url("../imgs/ignasi_pattern_s.png");
  }
  
  html {
    /* Positioning */
    position: relative;
  
    /* Box-model */
    min-height: 100%;
  }
  
  /* add space for fixed nav */
  main {
    margin: 80px 0;
  }
  
  /* create styles for use for all white main boxes */
  .block {
    background-color: #fff;
  
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .block-header {
    /* Typography */
    /* color: #4aaaa5; */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  /* NAV START */
  /* #logo {
    height: auto;
    max-width: 70%;
  } */

  img {
    max-width: 100%;
    height: 60px;
    margin-left: 100px;
    margin-right: 50px;
  }
  
  /* override bootstrap hover color and border */
  .navbar-default .navbar-nav > li > a:hover {
    color: #4aaaa5;
  }
  
  .navbar {
    background: white;
    border: none;
  }

  .nav-item {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
  }

  .nav1 {
    border-top: 5px solid rgb(255, 104, 16);
      
  }

  .firth {
    color: gray;
  }

  .oj {
    color: rgb(255, 104, 16);
  }

  .nav-request{
    margin: 10px;
    padding: 15px;
  }
  .nav-cart {
    margin: 10px;
    padding: 15px;
  }

  .nav-globe {
    margin: 10px;
    padding: 0px;
  }

  .nav-firth {
    vertical-align: top;
  }

  .navOne {
    font-size: 12px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  .navTwo{
    margin-left:50px;
    margin-right:50px;
    
  }

  .navTwo > x {
    padding-left:10px;
    padding-right:20px;
    font-weight: 550;
    font-size: 14px;
    
  }

  
  /* media query for nav background color change */
  @media only screen and (max-width: 767px) {
    .navbar-header {
      background-color: #4aaaa5;
    }
  }

  .bg-img {
    /* The image used */
    background-image: url('../imgs/background.jpg');
    
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  .container {
    background-color:rgb(248, 240, 230);
    width: 100%;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #333;
    opacity: .6;
  }

  .welcome {
    position: relative;
    margin-top: 80px;
    margin-left: 0px;
    text-align: center;
    font-weight: 300;
    font-family: 'Comfortaa', cursive;
  }

  .global {
    font-weight: 900;
  }

  .searchBar {
    position: relative;
    margin-top: 25px;
    margin-left: 430px;
    width: 40%;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  }

  .searchBar .fa-search { 
    position: absolute;
    top: 10px;
    left: 615px;
  }
  /* END NAV */
  
  
  /* CONNECT W/ ME CSS */
  .connect-header {
    /* Typography */
    font-size: 25px;
  }
  
  .connect-photo {
    /* Box-model */
    width: 55px;
    height: 55px;
  }
  
  #images {
    /* Box-model */
    padding-top: 15px;
  
    /* Typography */
    text-align: center;
  }
  /* END CONNECT W/ ME */
  
  
  
  /* --- END STYLES FOR ALL PAGES --- */
  
  /* --- PAGE-SPECIFIC STYLES --- */
  /* ABOUT-ME PAGE */
  .about-me-header {
    /* Positioning */
    margin-bottom: 33px;
    font-family: 'Roboto', sans-serif;
  
    /* Typography */
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5;
  }
  
  #about-image {
    /* Positioning */
    float: left;
  
    /* Box-model */
    width: 200px;
    margin: 0 20px 10px 0;
  }
  /* END ABOUT-ME PAGE */
  
  
  /* PORTFOLIO PAGE */
  .port-image {
    margin: 20px auto;
  }
  /* END PORTFOLIO PAGE */
  
  
  /* CONTACT FORM PAGE  */
  .form-control {
    /* give input boxes right angles */
    border-radius: 0;
  
    /* keep from horizontally resizing text area */
    min-width: 100%;
    max-width: 100%;
  }
  
  .submit-btn {
    /* Box-model */
    padding: 15px 30px;
    font-size: 16px;
    font-weight: lighter;
  
    /* Typography */
    color: #fff;
  
    /* Visual */
    background-color: #4aaaa5;
    border: 0;
  }
  
  .submit-btn:hover {
    opacity: .7;
  }
  
  /* END CONTACT FORM PAGE */
  